@tailwind base;
@tailwind components;
@tailwind utilities;

.message {
  width: 350px;
}

.modal-size {
  height: 80vh;
}

/* @media only screen and (max-width: 1440px) {
  .message {
    width: min(30%, 300px);
  }
}

@media only screen and (max-width: 1096px) {
  .message {
    width: 100%;
  }
} */
